PORT=3000
DB_HOST=127.0.0.1
DB_PORT=3306
DB_USER=username
DB_PASSWORD=password
DB_NAME=database
DEFAULT_ADMIN_USERNAME=admin
DEFAULT_ADMIN_PASSWORD=JenkinWoo123!
DEFAULT_ADMIN_EMAIL=admin@frp.gs
JWT_SECRET=CardVerse-dev-secret
RUN_DB_PUSH=true
RUN_DB_SEED=true
